<% layout("/layouts/boilerplate")%>
<body>
    <h1>Creating new place</h1>
    <form method="post" action="/place">
       <label for="form" class="form-1 mb-1">Enter title</label>
    <input placeholder="title" name="place[title]" type="text" class="form-control mb-3" id="form"/>
    <label for="form-2" class="form-1 mb-1">Enter description</label>

    <input placeholder="description" name="place[description]" type="text" class="form-control mb-3" id="form-2" />
    <label for="form-6" class="form-1 mb-1">Image URl</label>
    <input placeholder="image url" name="place[image]" type="text" class="form-control mb-3" id="form-6"/>
    <label for="form-3" class="form-1 mb-1">Price</label>
    <input placeholder="price" name="place[price]" type="number" class="form-control mb-3" id="form-3"/>
    <label for="form-4" class="form-1 mb-1">Location</label>
    <input placeholder="location" name="place[location]" type="text" class="form-control mb-3" id="form-4"/>
    <label for="form-5" class="form-1 mb-1">Country</label>
    <input placeholder="country" name="place[country]" type="text" class="form-control mb-3" id="form-5"/>
  

        <button class="newbtn">Submit</button>
    </form>
</body>
